/* HOME */
.widget.mgs-brand .item {
  margin-bottom: 30px;
}
.widget.mgs-brand .item .image {
  border: 1px solid #c2c2c2;
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
}
.widget.mgs-brand .item .image .img-responsive {
  margin: 0 auto;
}
.widget.mgs-brand .owl-item {
  padding-left: 15px;
  padding-right: 15px;
}
.widget.mgs-brand .owl-item .item {
  margin-bottom: 0px;
}
.widget.mgs-brand .owl-carousel .owl-nav > div {
  position: absolute;
  top: 50%;
  left: 15px;
  margin: -20px 0 0;
  opacity: 0;
  visibility: hidden;
}
.widget.mgs-brand .owl-carousel:hover .owl-nav > div {
  opacity: 1;
  visibility: visible;
}
.widget.mgs-brand .owl-carousel .owl-nav > div.owl-next {
  right: 15px;
  left: auto;
}
