.mgs-menu .navigation ul.container .level0 {
  display: inline-block;
  padding: 15px;
  vertical-align: middle;
  position: relative;
  font-size: 14px;
  text-align: left;
}
.mgs-menu .navigation ul.container .level0 > a {
  color: #333;
  font-size: 15px;
  text-transform: uppercase;
}
.mgs-menu .navigation ul.container .level0 ul.level0 {
  background: #333 none repeat scroll 0 0;
  min-width: 160px;
  position: absolute;
  top: 100% !important;
  list-style: none;
  padding: 0;
  z-index: 999;
}
.mgs-menu .navigation ul.container .level0 ul.level0 > li.level1 {
  padding: 5px 15px;
  position: relative;
}
.mgs-menu .navigation ul.container .level0 ul.level0 > li.level1 a {
  color: #fff;
}
.mgs-menu .navigation ul.container .level0 ul.level0 > li.level1 > ul.level1 {
  left: 100% !important;
  top: 0 !important;
  padding: 0;
  list-style: none;
  position: absolute !important;
  background-color: #333;
  min-width: 200px;
}
.mgs-menu .navigation ul.container .level0 ul.level0 > li.level1 > ul.level1 > li.level2 {
  padding: 5px 15px;
}
.mgs-menu .navigation ul.container .level0:hover {
  background-color: #333;
}
.mgs-menu .navigation ul.container .level0:hover > a {
  color: #fff;
  text-decoration: none;
}
.mgt-menu {
  margin-bottom: 30px;
}
@media (max-width: 1199px) {
  .mgt-menu.megamenu-content {
    background-color: #f0f0f0;
    flex-basis: auto;
    flex-shrink: 0;
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .mgt-menu .navigation {
    background: #f0f0f0;
    font-weight: 700;
    height: inherit;
    left: auto;
    overflow: inherit;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 3;
  }
  .mgt-menu .navigation:empty {
    display: none;
  }
  .mgt-menu .navigation ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    position: relative;
  }
  .mgt-menu .navigation li.level0 {
    border-top: none;
  }
  .mgt-menu .navigation .level0 {
    margin: 0 10px 0 0;
    display: inline-block;
    position: relative;
  }
  .mgt-menu .navigation .level0:last-child {
    margin-right: 0;
    padding-right: 0;
  }
  .mgt-menu .navigation .level0 > .level-top {
    color: #575757;
    line-height: 47px;
    padding: 0 12px;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
  }
  .mgt-menu .navigation .level0 > .level-top:hover,
  .mgt-menu .navigation .level0 > .level-top.ui-state-focus {
    color: #333;
    text-decoration: none;
  }
  .mgt-menu .navigation .level0.active > .level-top,
  .mgt-menu .navigation .level0.has-active > .level-top {
    border-color: #ff5501;
    border-style: solid;
    border-width: 0 0 3px;
    color: #333;
    text-decoration: none;
    display: inline-block;
  }
  .mgt-menu .navigation .level0.parent:hover > .submenu {
    overflow: visible !important;
  }
  .mgt-menu .navigation .level0 .submenu {
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19);
    font-weight: 400;
    min-width: 230px;
    padding: 15px 0;
    display: none;
    left: 0;
    margin: 0 !important;
    padding: 0;
    position: absolute;
    z-index: 1;
    margin-top: 11px;
  }
  .mgt-menu .navigation .level0 .submenu > ul {
    margin-top: 11px;
  }
  .mgt-menu .navigation .level0 .submenu > ul:before,
  .mgt-menu .navigation .level0 .submenu > ul:after {
    content: '';
    display: block;
    overflow: hidden;
    position: absolute;
  }
  .mgt-menu .navigation .level0 .submenu > ul:before {
    color: #fff;
    left: 20px;
    top: -20px;
    border: 10px solid transparent;
    height: 0;
    width: 0;
    border-bottom-color: #fff;
    z-index: 4;
  }
  .mgt-menu .navigation .level0 .submenu > ul:after {
    border: 11px solid transparent;
    height: 0;
    width: 0;
    border-bottom-color: #ccc;
    color: #ccc;
    left: 19px;
    top: -22px;
    z-index: 3;
  }
  .mgt-menu .navigation .level0 .submenu a {
    display: block;
    line-height: inherit;
    color: #575757;
    padding: 8px 20px;
  }
  .mgt-menu .navigation .level0 .submenu a:hover,
  .mgt-menu .navigation .level0 .submenu a.ui-state-focus {
    background: #e8e8e8;
    color: #333;
    text-decoration: none;
  }
  .mgt-menu .navigation .level0 .submenu .active > a {
    border-color: #ff5501;
    border-style: solid;
    border-width: 0 0 0 3px;
    color: #333;
  }
  .mgt-menu .navigation .level0 .submenu .submenu {
    top: 0 !important;
    left: 100% !important;
  }
  .mgt-menu .navigation .level0 .submenu .submenu-reverse {
    left: auto !important;
    right: 100%;
  }
  .mgt-menu .navigation .level0.more {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  .mgt-menu .navigation .level0.more:after {
    -webkit-font-smoothing: antialiased;
    font-size: 26px;
    line-height: inherit;
    color: inherit;
    content: '\e607';
    font-family: 'luma-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
  }
  .mgt-menu .navigation .level0.more:before {
    display: none;
  }
  .mgt-menu .navigation .level0.more:after {
    cursor: pointer;
    padding: 8px 12px;
    position: relative;
    z-index: 1;
  }
  .mgt-menu .navigation .level0.more:hover > .submenu {
    overflow: visible !important;
  }
  .mgt-menu .navigation .level0.more li {
    display: block;
  }
}
@media (max-width: 1199px) {
  .mgt-menu .navigation {
    padding: 0;
    background: #f0f0f0;
    box-sizing: border-box;
  }
  .mgt-menu .navigation .parent .level-top {
    position: relative;
    display: block;
    text-decoration: none;
  }
  .mgt-menu .navigation .parent .level-top:after {
    -webkit-font-smoothing: antialiased;
    font-size: 42px;
    line-height: inherit;
    color: inherit;
    content: '\f107';
    font-family: 'FontAwesome';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
  }
  .mgt-menu .navigation .parent .level-top:after {
    position: absolute;
    right: 7px;
    top: -8px;
  }
  .mgt-menu .navigation .parent .level-top.ui-state-active:after {
    content: '\f106';
  }
  .mgt-menu .navigation:after {
    font-size: 20px;
    right: 10px;
    top: 0;
  }
  .mgt-menu .navigation ul {
    margin: 0;
    padding: 0;
  }
  .mgt-menu .navigation li {
    margin: 0;
  }
  .mgt-menu .navigation a {
    display: block;
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 15px;
  }
  .mgt-menu .navigation a,
  .mgt-menu .navigation a:hover {
    color: #575757;
    text-decoration: none;
  }
  .mgt-menu .navigation .level0 {
    border-top: 1px solid #d1d1d1;
    font-size: 1.6rem;
  }
  .mgt-menu .navigation .level0 > .level-top {
    font-weight: 700;
    padding: 8px 40px 8px 15px;
    text-transform: uppercase;
    word-wrap: break-word;
  }
  .mgt-menu .navigation .level0.active .all-category .ui-state-focus {
    border-color: #ff5501;
    border-style: solid;
    border-width: 0 0 0 8px;
    color: #333;
    padding-left: 7px;
    display: inline-block;
  }
  .mgt-menu .navigation .level0 > .level1 {
    font-weight: 600;
  }
  .mgt-menu .navigation .level0.active > a:not(.ui-state-active),
  .mgt-menu .navigation .level0.has-active > a:not(.ui-state-active) {
    border-color: #ff5501;
    border-style: solid;
    border-width: 0 0 0 8px;
    color: #333;
  }
  .mgt-menu .navigation .level0.active > a:not(.ui-state-active) span:not(.ui-menu-icon),
  .mgt-menu .navigation .level0.has-active > a:not(.ui-state-active) span:not(.ui-menu-icon) {
    margin-left: -8px;
  }
  .mgt-menu .navigation li.level0:last-child {
    border-bottom: 1px solid #d1d1d1;
  }
  .mgt-menu .navigation .submenu > li {
    word-wrap: break-word;
  }
  .mgt-menu .navigation .submenu:not(:first-child) {
    font-weight: 400;
    line-height: 1.3;
    left: auto !important;
    overflow-x: hidden;
    padding: 0;
    position: relative;
    top: auto !important;
    transition: left 0.3s ease-out;
  }
  .mgt-menu .navigation .submenu:not(:first-child) > li > a {
    padding-left: 15px;
  }
  .mgt-menu .navigation .submenu:not(:first-child) > li:last-child {
    margin-bottom: 0;
  }
  .mgt-menu .navigation .submenu:not(:first-child) ul {
    display: block;
    padding-left: 15px;
  }
  .mgt-menu .navigation .submenu:not(:first-child) ul > li {
    margin: 0;
  }
  .mgt-menu .navigation .submenu:not(:first-child) ul > li a {
    color: #575757;
    display: block;
    line-height: normal;
  }
  .mgt-menu .navigation .submenu:not(:first-child) .expanded {
    display: block !important;
    padding-right: 0;
    top: 0 !important;
  }
  .mgt-menu .navigation .submenu:not(:first-child) .active > a {
    border-color: #ff5501;
    border-style: solid;
    border-width: 0 0 0 8px;
    color: #333;
    padding-left: 7px;
  }
  .mgt-menu .navigation .submenu:not(:first-child) .level1.active > a {
    padding-left: 7px;
  }
}
.vertical-menu li {
  display: block;
  position: relative;
  float: none !important;
}
.vertical-menu li a {
  display: block;
  padding: 10px 40px 10px 15px;
  font-size: 16px;
  font-weight: 600;
  padding-right: 40px;
  background: none !important;
}
@media (min-width: 1200px) {
  .vertical-menu li {
    border-bottom: 1px solid #ddd;
  }
  .vertical-menu li .toggle-menu {
    display: none !important;
  }
  .vertical-menu li .icon-next {
    position: absolute;
    right: 5px;
    font-size: 20px;
    top: 7px;
  }
  .vertical-menu li .icon-next .fa:before {
    content: "\f105";
  }
  .vertical-menu li > .dropdown-menu {
    position: absolute;
    left: 100%;
    top: 0;
    border-radius: 0;
    margin: 0;
    display: none !important;
    padding: 0;
  }
  .vertical-menu li:hover > .dropdown-menu {
    display: block !important;
    min-width: 100%;
  }
  .vertical-menu li.mega-menu-fullwidth > .dropdown-menu {
    min-width: 300%;
  }
  .vertical-menu li.mega-menu-fullwidth.menu-2columns > .dropdown-menu {
    min-width: 200%;
  }
}
@media (max-width: 1199px) {
  .vertical-menu li > a {
    border-bottom: 1px solid #ddd;
  }
  .vertical-menu li .icon-next {
    display: none !important;
  }
  .vertical-menu li .toggle-menu {
    position: absolute;
    right: 5px;
    font-size: 20px;
    top: 0px;
    width: 40px;
  }
  .vertical-menu li .toggle-menu a.active .fa-plus:before {
    content: "\f068";
  }
  .vertical-menu li > .dropdown-menu {
    position: static !important;
    border-radius: 0;
    margin: 0;
    padding: 0;
    float: none;
    width: 100%;
    border: none;
    box-shadow: none;
  }
  .vertical-menu li[class*="level"] > ul {
    padding-left: 15px;
  }
  .vertical-menu li:last-child > a {
    border-bottom: none;
  }
}
