@media (min-width: 1200px) {
  .col-lg-custom-5 {
    float: left;
    width: 20%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-lg-custom-7 {
    float: left;
    width: calc(100% / 7);
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-lg-custom-8 {
    float: left;
    width: 12.5%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 992px) {
  .col-md-custom-5 {
    float: left;
    width: 20%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-md-custom-7 {
    float: left;
    width: calc(100% / 7);
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-md-custom-8 {
    float: left;
    width: 12.5%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .first-row-item {
    clear: left;
  }
}
@media (min-width: 1200px) {
  .first-lg-item {
    clear: left;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .first-md-item {
    clear: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .first-sm-item {
    clear: left;
  }
}
@media (max-width: 767px) {
  .first-xs-item {
    clear: left;
  }
}
@media (max-width: 767px) {
  .page-title-wrapper.product {
    margin-top: 60px;
  }
  .product.data.items {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    margin-left: -15px;
    margin-right: -15px;
  }
  .product.data.items > .item.title {
    box-sizing: border-box;
    float: none;
    width: 100%;
    margin: 0;
    text-transform: uppercase;
  }
  .product.data.items > .item.title > .switch {
    display: block;
    border-top: 1px solid #ccc;
    height: 40px;
    padding: 1px 10px 1px 10px;
    font-weight: 600;
    line-height: 40px;
    font-size: 1.4rem;
    color: #333;
    text-decoration: none;
  }
  .product.data.items > .item.title > .switch:visited,
  .product.data.items > .item.title > .switch:active,
  .product.data.items > .item.title > .switch:hover {
    color: #333;
    text-decoration: none;
  }
  .product.data.items > .item.title a {
    position: relative;
    text-decoration: none;
  }
  .product.data.items > .item.title a:after {
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: inherit;
    color: inherit;
    content: '\f107';
    font-family: 'FontAwesome';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 1px;
  }
  .product.data.items > .item.title.active a:after {
    content: '\f106';
  }
  .product.data.items > .item.title.active > .switch {
    padding-bottom: 1px;
  }
  .product.data.items > .item.title.active > .switch:hover,
  .product.data.items > .item.title.active > .switch:focus {
    padding-bottom: 1px;
  }
  .product.data.items > .item.title:not(.disabled) > .switch:active {
    padding-bottom: 1px;
  }
  .product.data.items > .item.content {
    box-sizing: border-box;
    display: block;
    float: none;
    background: #fff;
    margin: 0;
    padding: 10px 10px 30px;
  }
  .product.data.items > .item.content:before,
  .product.data.items > .item.content:after {
    content: '';
    display: table;
  }
  .product.data.items > .item.content:after {
    clear: both;
  }
  .product.data.items > .item.content.active {
    display: block;
  }
  .product.data.items .value p:last-child {
    margin-bottom: 0;
  }
  .product.data.items .table-wrapper {
    margin: 0;
  }
  .product-add-form .box-tocart .action.tocart {
    width: 100%;
  }
  .product-social-links {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .megamenu-content .nav.nav-tabs,
  #main-Accountcontent {
    display: none !important;
  }
  #main-Menucontent {
    display: block !important;
  }
}
@media (max-width: 1199px) {
  .header {
    border-bottom: 1px solid #c2c2c2;
    margin-bottom: 30px;
  }
  .header .top-header-content .top-links {
    display: none;
  }
  .nav-open .close-nav-button {
    display: block;
  }
  .nav-before-open {
    height: 100%;
    overflow-x: hidden;
    width: 100%;
  }
  .nav-before-open body {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .nav-before-open .page-wrapper {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: relative;
    transition: left 0.3s ease 0s;
  }
  .nav-before-open .megamenu-content {
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    -ms-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    left: 0;
    z-index: 1000;
  }
  .nav-before-open .nav-toggle:after {
    background: rgba(0, 0, 0, 0.7);
    content: '';
    display: block;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  .megamenu-content {
    -webkit-overflow-scrolling: touch;
    -webkit-transition: left .3s;
    -moz-transition: left .3s;
    -ms-transition: left .3s;
    transition: left .3s;
    height: 100%;
    left: -80%;
    left: calc(-1 * (100% - 54px));
    overflow: auto;
    position: fixed;
    top: 0;
    width: 80%;
    width: calc(100% - 54px);
    max-width: 400px;
  }
  .megamenu-content .nav-tabs > li {
    width: 50%;
    text-align: center;
  }
  .megamenu-content .nav-tabs > li > a {
    background: none;
    padding: 25px 0;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
  }
  .megamenu-content .nav-tabs > li.active > a {
    background: #e3e3e3;
  }
  .megamenu-content .top-links {
    text-align: left;
    margin: 0;
  }
  .megamenu-content .top-links li {
    width: 100%;
  }
  .megamenu-content .top-links li a:not(.no-display) {
    border-bottom: 1px solid #e3e3e3;
    color: #575757;
    display: block;
    font-weight: 700;
    padding: 0.8rem 20px;
    text-decoration: none;
  }
}
@media (max-width: 991px) {
  .header .search-form.select-search {
    width: 100%;
  }
  .header .search-form.select-search .form-search .input-text.form-control {
    width: calc(100% - 200px);
  }
}
@media (max-width: 499px) {
  .header .top-header-content .col-xs-6 {
    width: 100%;
  }
  .header .top-header-content .welcome {
    float: none;
    text-align: center;
    border-bottom: 1px solid #c2c2c2;
  }
  .header .top-header-content .dropdown-switcher + .dropdown-switcher {
    float: right;
  }
  .header .top-header-content .dropdown-switcher + .dropdown-switcher .dropdown-menu {
    right: 0;
    left: auto;
  }
  .header .search-form.select-search .form-search .search-select,
  .header .search-form.select-search .form-search .input-text.form-control {
    width: 50%;
  }
}
