.label-menu {
  font-size: 9px;
  color: #fff;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: #01bad4;
  border-color: #01bad4;
  padding: 0 7px;
  display: block;
  text-align: center;
  position: absolute !important;
  left: 100%;
  margin-left: -23px;
  top: 10px;
}
.label-menu.sale {
  background-color: #ffa800;
  border-color: #ffa800;
}
.navigation .nav-main-menu li > ul.dropdown-menu .label-menu {
  right: 5px;
  left: auto;
  top: 5px;
}
.navigation .nav-main-menu li.mega-menu-fullwidth > ul.dropdown-menu .label-menu {
  right: 0;
}
.nav-main-menu a {
  color: #222;
}
.header .nav.nav-main-menu > li > a {
  display: block;
  font-size: 14px;
  padding: 19px 18px;
  background: none;
  position: relative;
}
.header .nav.nav-main-menu > li > a:hover {
  color: #56cfe1;
}
.header .nav.nav-main-menu > li.logo-item {
  padding: 0 21px;
}
.menu-banner {
  position: relative;
  overflow: hidden;
}
.menu-banner:after {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  z-index: 1;
  content: "";
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
}
.menu-banner .text {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 2;
}
.menu-banner:hover:after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.menu-banner img {
  min-width: 100%;
}
@media (min-width: 1200px) {
  .header:not(.header6):not(.header7) .navigation .nav-main-menu {
    display: table;
    margin: 0 auto;
    position: relative;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu > li {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu > li > a {
    white-space: nowrap;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu > li > a .icon-next {
    display: none !important;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu > li.hover-right > ul.dropdown-menu {
    right: 0 !important;
    left: auto !important;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu > li.hover-right > ul.dropdown-menu ul.dropdown-menu {
    right: 100% !important;
    left: auto !important;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu li {
    position: relative;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu li > ul.dropdown-menu a {
    color: #878787;
    background: none !important;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu li > ul.dropdown-menu a:hover {
    color: #222;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu li > ul.dropdown-menu ul > li:not(:last-child) > a {
    border-bottom: 1px solid #eee;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu li > ul.dropdown-menu ul > li:first-child > a {
    border-bottom: 1px solid #eee;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu li > a + .toggle-menu {
    display: none !important;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu li > .dropdown-menu {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 100%;
    visibility: hidden;
    z-index: 100;
    display: block !important;
    padding: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    min-width: 250px;
    margin: 0;
    border: none;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu li:hover > ul.dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu li li > a {
    display: block;
    font-size: 13px;
    padding: 12px 15px 8px;
    line-height: 1.75;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu li li > a .icon-next {
    display: none !important;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu li li > ul li > ul {
    top: -1px;
    left: 100%;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu li li > ul li > ul.dropdown-menu {
    left: 100%;
    top: 0;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu li.mega-menu-fullwidth {
    position: static !important;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu li.mega-menu-fullwidth > ul.dropdown-menu {
    left: 0;
    right: 0;
    border-top: 1px solid #efefef;
    padding: 14px 30px 16px;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu li.mega-menu-fullwidth > ul.dropdown-menu .mega-menu-sub-title {
    font-size: 14px;
    text-transform: uppercase;
    color: #222;
    font-weight: 500;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu li.mega-menu-fullwidth > ul.dropdown-menu ul {
    position: static;
    left: auto;
    right: auto;
    top: auto;
    border: none;
    box-shadow: none;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    opacity: 1;
    visibility: inherit;
    background-color: transparent;
    text-transform: none;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu li.mega-menu-fullwidth > ul.dropdown-menu ul li > a {
    padding: 10px 0 6px;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu li.mega-menu-fullwidth > ul.dropdown-menu ul li > a > span {
    position: relative;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu li.mega-menu-fullwidth.menu-2columns {
    position: relative !important;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu li.mega-menu-fullwidth.menu-2columns > ul.dropdown-menu {
    left: 0;
    right: auto;
    min-width: 500px;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu li.mega-menu-fullwidth.menu-2columns.hover-right {
    position: static !important;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu li.mega-menu-fullwidth.menu-2columns.hover-right > ul.dropdown-menu {
    right: 0;
    left: auto;
    min-width: 500px;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu li.mega-menu-fullwidth:not(.menu-2columns) > ul.dropdown-menu {
    width: 1170px;
    left: 50%;
    right: auto;
    margin-left: -585px;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu li > ul.sub-menu {
    display: block !important;
  }
}
@media (max-width: 1199px) {
  .header:not(.header6):not(.header7) #main-Menucontent .navigation > .container {
    width: 100%;
    padding: 0 !important;
  }
  .header:not(.header6):not(.header7) .nav-main-menu .dropdown-menu {
    width: auto !important;
    padding: 0;
    margin: 0;
    position: static;
    float: none;
    background: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border: none;
    box-shadow: none;
  }
  .header:not(.header6):not(.header7) .nav-main-menu a .icon-next {
    display: none !important;
  }
  .header:not(.header6):not(.header7) .nav-main-menu li {
    position: relative;
    float: none !important;
  }
  .header:not(.header6):not(.header7) .nav-main-menu li > a {
    padding-right: 40px;
    border-bottom: 1px solid #ddd;
    display: block;
    padding: 10px 15px !important;
    color: #575757;
    font-size: 14px;
  }
  .header:not(.header6):not(.header7) .nav-main-menu li > a + .toggle-menu {
    width: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    line-height: 45px;
    top: 0;
  }
  .header:not(.header6):not(.header7) .nav-main-menu li > a + .toggle-menu a {
    color: #575757;
  }
  .header:not(.header6):not(.header7) .nav-main-menu li > a + .toggle-menu a.active .fa:before {
    content: "\f068";
  }
  .header:not(.header6):not(.header7) .nav-main-menu li > ul.sub-menu,
  .header:not(.header6):not(.header7) .nav-main-menu li > ul.dropdown-menu {
    display: none;
    padding-left: 10px !important;
  }
  .header:not(.header6):not(.header7) .nav-main-menu [class*="col-"] {
    padding: 0;
    float: none;
    width: 100%;
  }
  .header:not(.header6):not(.header7) .nav-main-menu .row {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  body.boxed.width1024 .header:not(.header6):not(.header7) .navigation .nav-main-menu li.mega-menu-fullwidth:not(.menu-2columns) > ul.dropdown-menu {
    width: 994px;
    margin-left: -497px;
  }
}
@media (min-width: 1426px) {
  body.boxed.width1366 .header:not(.header6):not(.header7) .navigation .nav-main-menu li.mega-menu-fullwidth:not(.menu-2columns) > ul.dropdown-menu {
    width: 1336px;
    margin-left: -668px;
  }
}
@media (min-width: 1370px) {
  body.wide.width1366 .header:not(.header6):not(.header7) .navigation .nav-main-menu li.mega-menu-fullwidth:not(.menu-2columns) > ul.dropdown-menu {
    width: 1336px;
    margin-left: -668px;
  }
}
@media (min-width: 1200px) {
  body.wide.width1024 .header:not(.header6):not(.header7) .navigation .nav-main-menu li.mega-menu-fullwidth:not(.menu-2columns) > ul.dropdown-menu {
    width: 994px;
    margin-left: -668px;
  }
}
.header.header6 #main-Menucontent .navigation > .container,
.header.header7 #main-Menucontent .navigation > .container {
  width: 100%;
  padding: 0 !important;
}
.header.header6 .nav-main-menu .dropdown-menu,
.header.header7 .nav-main-menu .dropdown-menu {
  padding: 0;
  margin: 0;
  position: static;
  float: none;
  background: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border: none;
  box-shadow: none;
  width: auto !important;
}
.header.header6 .nav-main-menu a .icon-next,
.header.header7 .nav-main-menu a .icon-next {
  display: none !important;
}
.header.header6 .nav-main-menu li,
.header.header7 .nav-main-menu li {
  position: relative;
  float: none !important;
}
.header.header6 .nav-main-menu li > a,
.header.header7 .nav-main-menu li > a {
  padding-right: 40px;
  border-bottom: 1px solid #ddd;
  display: block;
  padding: 10px 15px !important;
  color: #575757;
  font-size: 14px;
}
.header.header6 .nav-main-menu li > a + .toggle-menu,
.header.header7 .nav-main-menu li > a + .toggle-menu {
  width: 40px;
  position: absolute;
  right: 0;
  text-align: center;
  line-height: 45px;
  top: 0;
  display: block !important;
}
.header.header6 .nav-main-menu li > a + .toggle-menu a,
.header.header7 .nav-main-menu li > a + .toggle-menu a {
  color: #575757;
}
.header.header6 .nav-main-menu li > a + .toggle-menu a.active .fa:before,
.header.header7 .nav-main-menu li > a + .toggle-menu a.active .fa:before {
  content: "\f068";
}
.header.header6 .nav-main-menu li > ul.sub-menu,
.header.header7 .nav-main-menu li > ul.sub-menu,
.header.header6 .nav-main-menu li > ul.dropdown-menu,
.header.header7 .nav-main-menu li > ul.dropdown-menu {
  display: none;
  padding-left: 10px !important;
}
.header.header6 .nav-main-menu [class*="col-"],
.header.header7 .nav-main-menu [class*="col-"] {
  padding: 0;
  float: none;
  width: 100%;
}
.header.header6 .nav-main-menu .row,
.header.header7 .nav-main-menu .row {
  margin: 0;
}
@media (min-width: 1200px) {
  .menu_vertical_fixed .header.header5 .navigation .nav-main-menu {
    width: 100%;
    position: relative;
  }
  .menu_vertical_fixed .header.header5 .navigation .nav-main-menu > li {
    width: 100%;
    display: block;
    position: relative !important;
  }
  .menu_vertical_fixed .header.header5 .navigation .nav-main-menu > li.logo-item {
    display: none;
  }
  .menu_vertical_fixed .header.header5 .navigation .nav-main-menu > li > a {
    padding: 11px 0px 11px 0px;
    position: relative;
    margin: 0 20px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
  }
  .menu_vertical_fixed .header.header5 .navigation .nav-main-menu > li > a > .label-menu {
    margin-left: -10px;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  .menu_vertical_fixed .header.header5 .navigation .nav-main-menu > li > .dropdown-menu {
    left: 100% !important;
    top: 11px;
    margin: 0 !important;
  }
}
