<?php /** * Copyright © 2015 Magento. All rights reserved. * See COPYING.txt for license details. */ $helper = \Magento\Framework\App\ObjectManager::getInstance()->get('MGS\Mpanel\Helper\Data'); $url = $helper->getCssUrl(); $canUsePanel = $helper->acceptToUsePanel(); ?> <!doctype html><html class="use-<?php echo $helper->getHeaderClass() ?>" <?php /* @escapeNotVerified */ echo $htmlAttributes ?>><head <?php /* @escapeNotVerified */ echo $headAttributes ?>><script>
			var WEB_URL = "<?php echo $helper->getUrlBuilder()->getUrl() ?>";
			var CATALOG_AJAX = <?php echo $helper->getStoreConfig('mgstheme/general/catalog_ajax'); ?></script><?php /* @escapeNotVerified */ echo $requireJs ?> <?php /* @escapeNotVerified */ echo $headContent ?> <?php /* @escapeNotVerified */ echo $headAdditional ?> <?php ?> <link rel="stylesheet" type="text/css" media="all" href="<?php echo $helper->getMediaUrl() ?>mgs/css/<?php echo $helper->getStore()->getId() ?>/custom_config.css" /><?php if($helper->showButton()): ?> <link rel="stylesheet" type="text/css" media="all" href="<?php echo $helper->getPanelCssUrl() ?>" /><?php endif ?></head><body data-container="body" data-mage-init='{"loaderAjax": {}, "loader": { "icon": "<?php /* @escapeNotVerified */ echo $loaderIcon; ?>"}}' <?php /* @escapeNotVerified */ echo $bodyAttributes ?>><?php if($helper->useBuilder() && $helper->isHomepage()): ?> <div class="page messages container" style="display: none;"><?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")->setTemplate("Magento_Theme::html/messages.phtml")->toHtml(); ?> <?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Messages")->setTemplate("Magento_Theme::messages.phtml")->toHtml(); ?></div><?php endif ?> <?php if($helper->showButton() && !$helper->isPopup()): ?> <?php echo $topPanel ?> <?php endif ?> <?php /* @escapeNotVerified */ echo $helper->convertContent($layoutContent, $builderContent) ?> <?php if($canUsePanel): ?> <script  type="text/javascript" src="<?php echo $this->getViewFileUrl('MGS_Mpanel::js/panel.js') ?>"></script><?php endif ?> <?php if($helper->useBuilder() && $helper->isHomepage()): ?> <script  type="text/javascript">
                require([
                    'jquery'
                ], function(jQuery){
                    (function($) {
                        jQuery(document).ready(function(){
                            <?php if($helper->getStoreConfig('mgstheme/general/header') == 'header_5'): ?>
                                jQuery(".page.messages").prependTo("page-wrapper");
                            <?php else: ?>
                                jQuery(".page.messages").appendTo("header.header");
                            <?php endif ?> jQuery(".page.messages").show();
                        });
                        jQuery(window).scroll(function(){
                            if($(this).scrollTop() > 120){
                                jQuery(".page.messages").hide();
                            }
                        })
                    })(jQuery);
                });</script><?php endif ?></body></html>