<?php $themeHelper = $this->helper('MGS\Mpanel\Helper\Data'); ?> <?php $cr_Header = $themeHelper->getStoreConfig('mgstheme/general/header'); ?> <?php $stickyLogo = $themeHelper->getStoreConfig('mgstheme/general/sticky_logo'); ?> <?php if($stickyLogo): ?> <?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); $stickyLogo = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'stickylogo/' . $stickyLogo; ?> <?php endif ?> <?php if($themeHelper->getStoreConfig('mgstheme/general/sticky_menu') && $cr_Header != 'header_5'): ?> <script type="text/javascript">
		require([
			'jquery'
		], function(jQuery){
			(function($) {
				var height_header = $('.header').height();
                var logoDf = $('.header .logo img').attr('src');
				if($('body').height() > $(window).height()){
					$(window).scroll(function(){
						<?php if($cr_Header != 'header_8' && $cr_Header != 'header_9'): ?>
						if($(this).width() > 991){
							if($(this).scrollTop() > height_header){
                                <?php if($stickyLogo): ?>
                                    $('.header .logo img').attr("src","<?php echo $stickyLogo ?>");
                                <?php endif ?> $('#placeholder-header').height(height_header);
								$('#placeholder-header').show();
								$('.header').addClass('active-sticky');
								<?php if($cr_Header == 'header_4'): ?>
									var padding = $('.middle-header-content .logo-header .logo img').width();
									$(".bottom-header-content").css("padding-left", padding);
									$(".bottom-header-content").css("padding-right", padding);
									$(".middle-header-content .logo-header .logo").detach().prependTo('.bottom-header-content');
									$(".table-icon-menu .minicart-wrapper").detach().appendTo('.bottom-header-content');
								<?php endif ?> }else {
                                <?php if($stickyLogo): ?>
                                    $('.header .logo img').attr("src",logoDf);
                                <?php endif ?> $('.header').removeClass('active-sticky');
								$('#placeholder-header').hide();
								<?php if($cr_Header == 'header_4'): ?>
									$(".bottom-header-content").css("padding-left", 0);
									$(".bottom-header-content").css("padding-right", 0);
									$(".bottom-header-content .logo").detach().prependTo('.middle-header-content .logo-header');
									$(".bottom-header-content .minicart-wrapper").detach().appendTo('.table-icon-menu');
								<?php endif ?> }
						}
						<?php else: ?>
						var height_middle = $('.header .middle-header-content').height();
						if($(this).width() > 1199){
							if($(this).scrollTop() > height_header){
                                <?php if($stickyLogo): ?>
                                    $('.header .logo img').attr("src","<?php echo $stickyLogo ?>");
                                <?php endif ?> $('#placeholder-header').height(height_middle);
								$('#placeholder-header').show();
								$('.header').addClass('active-sticky');
								<?php if($cr_Header == 'header_8'): ?>
									$("#main-Menucontent > .navigation").detach().prependTo('.parent__search');
								<?php endif ?> }else {
                                <?php if($stickyLogo): ?>
                                    $('.header .logo img').attr("src",logoDf);
                                <?php endif ?> $('.header').removeClass('active-sticky');
								$('#placeholder-header').hide();
								<?php if($cr_Header == 'header_8'): ?>
									$(".parent__search > .navigation").detach().prependTo('#main-Menucontent');
								<?php endif ?> }
						}
						<?php endif ?> });
				}
			})(jQuery);
		});</script><?php endif ?> <?php if($themeHelper->getStoreConfig('mgstheme/general/back_to_top')): ?> <a href="" class="scroll-to-top"><i class="fa fa-arrow-up"></i></a> <script type="text/javascript">
		require([
			'jquery'
		], function(jQuery){
			(function($) {
				$(window).scroll(function(){
					if ($(this).scrollTop() > 1) {
						$('.scroll-to-top').css({bottom:"25px"});
					} else {
						$('.scroll-to-top').css({bottom:"-45px"});
					}
				});

				$('.scroll-to-top').click(function(){
					$('html, body').animate({scrollTop: '0px'}, 800);
					return false;
				});
			})(jQuery);
		});</script><?php endif ?> <?php if (!$themeHelper->getStoreConfig('checkout/cart/redirect_to_cart')) : ?> <script type="text/x-magento-init">
	{
		"[data-role=tocart-form], .form.map.checkout": {
			"catalogAddToCart": {}
		}
	}</script><?php endif; ?> <div class="mfp-wrap mfp-close-btn-in mfp-auto-cursor mfp-ready" id="mgs-ajax-loading"><div class="mfp-bg mfp-ready"></div><div class="preloader"></div></div><script type="text/javascript">
	require([
		'jquery',
		'zoom-images'
	], function ($) {
		$(document).on("click",".gallery-thumbnail .image-item",function(e){
			if(!$(this).hasClass('active')){
				$('.gallery-thumbnail .image-item.active').removeClass('active');
				$(this).addClass('active');
				var url = $(this).data('img-change');
				$('.product-image-base img').attr('src', url);
				zoomElement(".product-image-base");
			}
		});
	});</script><script type="text/javascript">
	function zoomElement(el){
		require([
			'jquery',
			'zoom-images'
		],function( $ ) {
            <?php if($themeHelper->getStoreConfig('mpanel/product_details/popup_gallery')): ?>
                return;
            <?php else: ?>
                $(el).addClass('parentZoom');
                <?php if($themeHelper->getStoreConfig('mpanel/product_details/disable_zoom_detail')): ?>
                    if($(window).width() > 767){
                        $(el).zoom({magnify: 1.5});
                    }else {
                        $(el).trigger('zoom.destroy');
                    }
                <?php else: ?>
                    $(el).zoom({magnify: 1.5});
                <?php endif ?> <?php endif ?> });
	}</script><?php if($themeHelper->getStoreConfig('mpanel/product_details/disable_zoom_detail')): ?> <script type="text/javascript">
		require([
			'jquery',
			'zoom-images'
		], function(jQuery){
			(function($) {
				$(window).resize(function(){
					if ($(window).width() > 767) {
						$('.parentZoom').each(function(i, obj) {
							$(this).zoom({magnify: 1.5});
						});
					} else {
						$('.parentZoom').each(function(i, obj) {
							$(this).trigger('zoom.destroy');
						});
					}
				});
			})(jQuery);
		});</script><?php endif ?>