@media (min-width: 1200px) {
  .col-lg-custom-5,
  .col-lg-custom-7,
  .col-lg-custom-8 {
    float: right;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-lg-custom-5 {
    width: 20%;
  }
  .col-lg-custom-7 {
    width: calc(100% / 7);
  }
  .col-lg-custom-8 {
    width: 12.5%;
  }
}
@media (min-width: 992px) {
  .col-md-custom-5,
  .col-md-custom-7,
  .col-md-custom-8 {
    float: right;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-md-custom-5 {
    width: 20%;
  }
  .col-md-custom-7 {
    width: calc(100% / 7);
  }
  .col-md-custom-8 {
    width: 12.5%;
  }
  .first-row-item {
    clear: right;
  }
}
@media (min-width: 1200px) {
  .first-lg-item {
    clear: right;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .first-md-item {
    clear: right;
  }
}
@media (min-width: 992px) {
  .first-row-item {
    clear: right;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .first-sm-item {
    clear: right;
  }
}
@media (max-width: 767px) {
  .first-xs-item {
    clear: right;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  .col-xs-half {
    width: 50%;
  }
}
@media (max-width: 991px) {
  #placeholder-header {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .footer .middle-footer div[class*="col-lg"]:not(:last-child) {
    margin-bottom: 50px;
  }
  .footer .bottom-footer .copyright address {
    text-align: center;
    margin-bottom: 15px;
    line-height: 1.75;
  }
  .footer .bottom-footer ul {
    display: table;
    margin: 0 auto;
    float: none;
  }
  .footer .bottom-footer ul li:first-child {
    margin-left: 0;
  }
  .footer.footer3 .bottom-footer ul {
    display: block;
    margin: unset;
  }
}
@media (min-width: 768px) {
  .footer.footer2 .block.newsletter .form.subscribe .actions .action.subscribe {
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .footer.footer4 .middle-footer-container {
    width: 100%;
    display: table;
  }
  .footer.footer4 .middle-footer-container .middle-footer {
    padding: 50px 150px 0;
  }
  .footer.footer4 .middle-footer-container .middle-footer .container {
    width: unset;
  }
  .footer.footer4 .middle-footer-container .middle-col,
  .footer.footer4 .middle-footer-container .footer-map {
    display: table-cell;
    width: 50%;
    vertical-align: top;
  }
  .footer.footer4 .bottom-footer {
    padding: 20px 150px;
  }
  .footer.footer4 .bottom-footer .container {
    width: unset;
  }
}
@media (max-width: 1199px) {
  .footer.footer4 .middle-footer-container .footer-map {
    height: 300px;
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  .footer.footer4 .middle-footer-container .middle-footer {
    padding: 50px 70px 0;
  }
  .footer.footer4 .bottom-footer {
    padding: 20px 70px;
  }
}
@media (min-width: 1660px) {
  .container-large .container {
    width: 1620px !important;
  }
}
@media (max-width: 1199px) {
  .nav-open .close-nav-button {
    display: block;
  }
  .nav-before-open {
    height: 100%;
    overflow-x: hidden;
    width: 100%;
  }
  .nav-before-open body {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .nav-before-open .page-wrapper {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: relative;
    transition: left 0.3s ease 0s;
    -webkit-transition: left 0.3s ease 0s;
    -moz-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
  }
  .nav-before-open .header .megamenu-content {
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    -ms-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    left: 0 !important;
  }
  .nav-before-open .nav-toggle:after {
    background: rgba(0, 0, 0, 0.7);
    content: '';
    display: block;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
  }
}
@media (min-width: 1200px) {
  .header:not(.header6):not(.header7) .megamenu-content .nav.nav-tabs,
  .header:not(.header6):not(.header7) #main-Accountcontent,
  .header:not(.header6):not(.header7) #main-Settingcontent {
    display: none !important;
  }
  .header:not(.header6):not(.header7) #main-Menucontent {
    display: block !important;
  }
  .header .top-header-content .dropdown-switcher .dropdown-menu {
    display: block !important;
    opacity: 0;
    visibility: hidden;
  }
  .header .top-header-content .dropdown-switcher:hover .dropdown-menu {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  .header.header5 {
    display: none;
  }
  .header.header5 .logo {
    display: block;
    text-align: center;
    padding: 0 0 9px;
  }
  .header.header5 .table-icon-menu {
    width: 100%;
    margin: 0 auto 45px;
    text-align: center;
  }
  .header.header5 .table-icon-menu > div {
    display: inline-block;
  }
  .header.header5 .table-icon-menu > div.dropdown-toplinks .dropdown-menu {
    display: none !important;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
  }
  .header.header5 .table-icon-menu > div.dropdown-toplinks.open .dropdown-menu {
    display: block !important;
  }
  .header.header5 .middle-header-content > .container {
    width: 100% !important;
    padding: 0;
  }
  .header.header6 .megamenu-content > .nav-tabs li:not(.hidden-lg),
  .header.header7 .megamenu-content > .nav-tabs li:not(.hidden-lg) {
    display: block !important;
    width: 100%;
  }
  .header.header6 .megamenu-content > .nav-tabs li:not(.hidden-lg) a,
  .header.header7 .megamenu-content > .nav-tabs li:not(.hidden-lg) a {
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #000;
    color: #fff;
    text-align: center;
    font-weight: 600;
    position: relative;
    padding: 0;
  }
  .header.header6 .megamenu-content > .tab-content #main-Accountcontent,
  .header.header7 .megamenu-content > .tab-content #main-Accountcontent,
  .header.header6 .megamenu-content > .tab-content #main-Settingcontent,
  .header.header7 .megamenu-content > .tab-content #main-Settingcontent {
    display: none !important;
  }
}
@media (min-width: 1200px) and (min-width: 1499px) {
  .header.header5 .navigation .nav-main-menu > li.mega-menu-fullwidth:not(.menu-2columns) > ul.dropdown-menu {
    width: 1200px !important;
  }
}
@media (min-width: 1200px) and (max-width: 1199px) {
  .header.header5 .navigation .nav-main-menu > li.mega-menu-fullwidth:not(.menu-2columns) > ul.dropdown-menu {
    width: auto !important;
  }
}
@media (max-width: 1199px) {
  .header:not(.header6):not(.header7) .megamenu-content {
    transition: left 0.3s;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -o-transition: left 0.3s;
    height: 100%;
    left: calc(-1 * (100% - 54px));
    overflow: auto;
    position: fixed;
    top: 0;
    width: calc(100% - 54px);
    max-width: 400px;
    background-color: #fff;
    z-index: 1000;
    padding: 0;
  }
  .header:not(.header6):not(.header7) .megamenu-content .nav-tabs {
    border: none;
  }
  .header:not(.header6):not(.header7) .megamenu-content .nav-tabs > li {
    width: calc(100% / 3);
    text-align: center;
    margin: 0;
  }
  .header:not(.header6):not(.header7) .megamenu-content .nav-tabs > li + li {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
  }
  .header:not(.header6):not(.header7) .megamenu-content .nav-tabs > li > a {
    background: none;
    padding: 25px 0;
    display: block;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    margin: 0;
    font-weight: 600;
    color: #fff;
    background-color: #222;
    border: none !important;
  }
  .header:not(.header6):not(.header7) .megamenu-content .nav-tabs > li.active > a {
    background-color: #fff;
    color: #272727;
  }
  .header:not(.header6):not(.header7) .megamenu-content .top-links {
    margin: 0;
  }
  .header:not(.header6):not(.header7) .megamenu-content .top-links li {
    width: 100%;
  }
  .header:not(.header6):not(.header7) .megamenu-content .top-links li a:not(.no-display) {
    border-bottom: 1px solid #e3e3e3;
    color: #575757;
    display: block;
    padding: 10px 15px;
    font-size: 14px;
  }
  .header:not(.header6):not(.header7) .megamenu-content .dropdown-switcher {
    float: none;
    display: block;
    border-bottom: 1px solid #e3e3e3;
    margin: 0;
    position: relative;
  }
  .header:not(.header6):not(.header7) .megamenu-content .dropdown-switcher .switcher-toggle {
    padding-right: 15px;
    width: 100%;
    text-align: right;
  }
  .header:not(.header6):not(.header7) .megamenu-content .dropdown-switcher .dropdown-menu {
    right: 15px;
    left: auto;
  }
  .header:not(.header6):not(.header7) .navigation .nav-main-menu .label-menu {
    position: static !important;
    display: inline-block;
    float: left;
    vertical-align: middle;
    margin-top: 4px;
    margin-left: 20px;
    margin-right: 0;
  }
  .header .mega-menu-content .static-content,
  .header .dropdown-toplinks,
  .header .table-icon-menu > .header-wl,
  .header .nav.nav-main-menu > li.logo-item {
    display: none !important;
  }
  .header.header5 ul.social-link li {
    margin: 0 5px;
  }
  .header.header5 ul.social-link li a {
    padding: 11px;
    display: block;
  }
  .header.header5 .middle-header-content .middle-content:after {
    content: "";
    display: table;
    clear: both;
  }
  .header.header5 .middle-header-content .middle-content .action-menu-responsive,
  .header.header5 .middle-header-content .middle-content .logo {
    float: right;
    width: calc(100% / 3);
  }
  .header.header5 .middle-header-content .middle-content .table-icon-menu {
    float: left;
  }
  .header.header5 .middle-header-content .middle-content .logo {
    padding-top: 17px;
    text-align: center;
    display: block;
  }
}
@media (min-width: 992px) {
  .header.active-sticky {
    position: fixed;
    z-index: 997;
    top: 0;
    left: 0;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    right: 0;
  }
  .header.active-sticky .top-header-content {
    display: none;
  }
  .header.active-sticky.header4 .middle-header-content {
    display: none;
  }
  .header.active-sticky.header4 .bottom-header-content {
    position: relative;
  }
  .header.active-sticky.header4 .bottom-header-content > .logo {
    position: absolute;
    top: 0;
    left: 15px;
    padding-top: 17px;
    display: block;
  }
  .header.active-sticky.header4 .bottom-header-content .minicart-wrapper {
    position: absolute;
    top: 19px;
    right: 25px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header .top-header-content .top-middle-header {
    text-align: left;
  }
}
@media (min-width: 768px) {
  .header .search-form.select-search .form-search .form.minisearch .search-select,
  .header .search-form.select-search .form-search .form.minisearch .input-text {
    display: table-cell;
    vertical-align: middle;
  }
  .header .search-form.select-search .form-search .form.minisearch .search-select {
    width: 1%;
  }
}
@media (max-width: 767px) {
  .header .top-header-content .top-custom-link ul {
    display: table;
    margin: 0 auto;
  }
  .header .top-header-content .top-custom-link ul li {
    padding-bottom: 0;
  }
  .header .top-header-content .top-middle-header {
    padding-top: 10px;
  }
  .header .mobile-item-col {
    float: right;
    width: calc(100% / 3);
  }
  .header .search-form.select-search .form-search .form.minisearch .search-select .search-toggle {
    width: 100%;
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .minicart-wrapper .block-minicart {
    width: 270px;
  }
}
@media (min-width: 768px) {
  .products-grid .product-item-info .tocart.btn-cart .icon {
    display: none;
  }
}
@media (max-width: 767px) {
  .products-grid .product-item-info .tocart.btn-cart {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 0;
    width: 50px;
    height: 50px;
  }
  .products-grid .product-item-info .tocart.btn-cart .icon {
    margin: 0;
  }
  .products-grid .product-item-info .tocart.btn-cart .text {
    display: none;
  }
}
@media (max-width: 767px) {
  .content-heading h3.title:before,
  .content-heading h3.title:after {
    content: none !important;
  }
}
@media (min-width: 992px) {
  .block.filter .filter-content .filter-options-item .filter-options-title:after {
    content: none !important;
  }
  .block.filter .filter-content .filter-options-item .filter-options-content {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .page-layout-1column .category-product-actions .toolbar-products {
    width: 85%;
  }
  .page-layout-1column .category-product-actions .block.filter {
    width: 15%;
  }
}
@media (max-width: 991px) {
  .toolbar .modes {
    display: none;
  }
}
@media (max-width: 767px) {
  .toolbar .limiter {
    display: none;
  }
  .toolbar select {
    max-width: 150px;
  }
  .toolbar .pages .pagination .item {
    padding: 0 12px;
  }
}
@media (max-width: 767px) {
  body:not(.page-layout-1column) .toolbar .sorter {
    text-align: left;
  }
  body:not(.page-layout-1column) .toolbar select {
    max-width: 150px;
  }
}
@media (min-width: 768px) {
  .page-layout-3columns .bottom-pagination {
    border-top: 1px solid #ddd;
    padding-top: 13px;
  }
  .page-layout-3columns .bottom-pagination .toolbar .limiter {
    display: block;
    text-align: right;
  }
  .page-layout-3columns .bottom-pagination .toolbar .pages {
    padding-top: 0;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-top: none;
  }
  .page-layout-3columns .bottom-pagination .toolbar .pagination {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .blog-list .post-item-info {
    margin-bottom: 60px;
  }
  .blog-list .post-item-info .post-image.has-image .post-info {
    position: static;
  }
}
@media (max-width: 767px) {
  .blog-post-view .post-comments .item .info .posted-on {
    display: block;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .checkout-cart-index .checkout-extra {
    padding-left: 200px;
  }
  .checkout-cart-index .checkout-extra > .block > .title {
    width: 200px;
  }
}
@media (max-width: 767px) {
  .checkout-cart-index .checkout-extra {
    padding: 0;
    border: none;
  }
  .checkout-cart-index .checkout-extra > .block > .title {
    width: 100%;
    position: static;
    margin: 0 !important;
    border: 1px solid #efefef;
    padding: 12px 20px 12px;
  }
  .checkout-cart-index .checkout-extra > .block > .title.active {
    border-color: #2a2a2a;
  }
  .checkout-cart-index .checkout-extra > .block > .content {
    border: 1px solid #efefef;
    border-top: none;
    padding: 30px 20px;
  }
  .checkout-cart-index .cart-container .cart.main.actions .btn {
    width: 100%;
    text-align: center;
  }
  .checkout-cart-index .cart-container .cart.main.actions .btn + .btn {
    margin: 15px 0 0;
  }
  .checkout-cart-index #shopping-cart-table thead {
    display: none;
  }
  .checkout-cart-index #shopping-cart-table tbody {
    border: 1px solid #eaeaea;
    display: block;
    padding: 20px 0;
  }
  .checkout-cart-index #shopping-cart-table tbody tr {
    display: block;
  }
  .checkout-cart-index #shopping-cart-table tbody tr td {
    display: block;
    border: none;
    text-align: left;
    padding: 5px 15px !important;
    width: 100%;
  }
  .checkout-cart-index #shopping-cart-table tbody tr td.col:not(.item):before {
    content: attr(data-th) ":";
    font-size: 15px;
    display: inline-block;
    margin-right: 5px;
    color: #2a2a2a;
  }
  .checkout-cart-index #shopping-cart-table tbody tr td.col.qty .field.qty {
    display: inline-block;
    vertical-align: middle;
  }
  .checkout-cart-index #shopping-cart-table tbody tr td.col.item .product-item-photo {
    float: none;
    width: 100%;
  }
  .checkout-cart-index #shopping-cart-table tbody tr td.col.item .product-item-details {
    float: none;
    width: 100%;
    margin: 10px 0 0;
    padding: 0;
  }
  .checkout-cart-index #shopping-cart-table tbody tr td.col.item:after {
    content: "";
    display: table;
    clear: both;
  }
  .checkout-cart-index #shopping-cart-table tbody tr.item-actions td > .actions-toolbar {
    padding: 10px 0 0;
  }
}
@media (min-width: 992px) {
  .opc-estimated-wrapper {
    display: none;
  }
}
@media (min-width: 992px) {
  .opc-progress-bar {
    margin: 0 0 32px;
    counter-reset: i;
    display: block;
    font-size: 0;
    width: calc(66.66666667% - 15px);
  }
  .opc-progress-bar .opc-progress-bar-item {
    margin: 0 0 10px;
    width: 50%;
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: top;
  }
  .opc-progress-bar .opc-progress-bar-item > span {
    display: inline-block;
    padding-top: 45px;
    width: 100%;
    word-wrap: break-word;
    color: #c2c2c2;
    font-size: 16px;
  }
  .opc-progress-bar .opc-progress-bar-item > span:after,
  .opc-progress-bar .opc-progress-bar-item > span:before {
    left: 50%;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
  }
  .opc-progress-bar .opc-progress-bar-item > span:after {
    background: #fff;
    height: 26px;
    margin-left: -13px;
    top: 6px;
    width: 26px;
    content: counter(i);
    counter-increment: i;
    color: #333;
    font-size: 15px;
    line-height: 26px;
    color: #c2c2c2;
  }
  .opc-progress-bar .opc-progress-bar-item > span:before {
    background: #c2c2c2;
    height: 38px;
    margin-left: -19px;
    width: 38px;
    content: '';
    top: 0;
  }
  .opc-progress-bar .opc-progress-bar-item:before {
    background: #c2c2c2;
    top: 19px;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    content: '';
    height: 7px;
    left: 0;
    position: absolute;
    width: 100%;
  }
  .opc-progress-bar .opc-progress-bar-item._active:before {
    background: #eb5202;
  }
  .opc-progress-bar .opc-progress-bar-item._active > span {
    color: #eb5202;
  }
  .opc-progress-bar .opc-progress-bar-item._active > span:before {
    background: #eb5202;
  }
  .opc-progress-bar .opc-progress-bar-item._active > span:after {
    color: #eb5202;
  }
  .opc-progress-bar .opc-progress-bar-item._complete:before {
    background: #14ab00;
  }
  .opc-progress-bar .opc-progress-bar-item._complete > span {
    color: #14ab00;
  }
  .opc-progress-bar .opc-progress-bar-item._complete > span:before {
    background: #14ab00;
  }
  .opc-progress-bar .opc-progress-bar-item._complete > span:after {
    color: #14ab00;
    font-family: 'FontAwesome';
    content: '\f00c';
  }
  .opc-progress-bar .opc-progress-bar-item._complete:hover:before {
    background: #c2c2c2;
  }
  .opc-progress-bar .opc-progress-bar-item._complete:hover > span {
    color: #c2c2c2;
  }
  .opc-progress-bar .opc-progress-bar-item._complete:hover > span:before {
    background: #c2c2c2;
  }
  .opc-progress-bar .opc-progress-bar-item._complete:hover > span:after {
    color: #c2c2c2;
  }
}
@media (max-width: 991px) {
  .opc-progress-bar {
    display: none;
  }
}
@media (max-width: 991px) {
  .checkout-container {
    position: relative;
    z-index: 101;
  }
  .authentication-wrapper {
    margin-bottom: 25px;
  }
  .opc-wrapper {
    width: 100%;
    padding: 0;
  }
  .opc-sidebar.opc-summary-wrapper {
    bottom: 0;
    left: 30px;
    min-width: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 99998;
    width: auto;
  }
  .opc-sidebar.opc-summary-wrapper .modal-inner-wrap {
    height: 100%;
    overflow-y: auto;
    position: static;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition-duration: 0.3s;
    transition-property: transform, visibility;
    transition-timing-function: ease-in-out;
    width: auto;
    background-color: #f4f4f4;
    box-sizing: border-box;
    height: auto;
    min-height: 100%;
  }
  .opc-sidebar.opc-summary-wrapper .modal-inner-wrap .modal-header {
    display: block;
    min-height: unset;
    padding: 0;
    border: none;
  }
  .opc-sidebar.opc-summary-wrapper .modal-inner-wrap .modal-header .action-close {
    width: 40px;
    height: 40px;
    text-align: center;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
    box-sizing: content-box;
    display: inline-block;
    font-weight: 400;
    line-height: inherit;
    padding: 0;
    position: absolute;
    right: 20px;
    text-decoration: none;
    text-shadow: none;
    top: 16px;
    z-index: 1;
  }
  .opc-sidebar.opc-summary-wrapper .modal-inner-wrap .modal-header .action-close:after {
    content: "x";
    font-size: 30px;
    line-height: 1;
  }
  .opc-sidebar.opc-summary-wrapper .modal-inner-wrap .modal-header .action-close > span {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .opc-sidebar.opc-summary-wrapper._show {
    overflow-x: hidden;
    overflow-y: auto;
    visibility: visible;
  }
  .opc-sidebar.opc-summary-wrapper._show + .modal-custom-overlay {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 899 !important;
    background-color: rgba(51, 51, 51, 0.55);
  }
  .opc-sidebar.opc-summary-wrapper._show .modal-inner-wrap {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  .opc-estimated-wrapper {
    background: #f4f4f4 none repeat scroll 0 0;
    border: 1px solid #ccc;
    margin: 0 0 30px;
    padding: 11px 20px;
  }
  .opc-estimated-wrapper:after {
    content: "";
    display: table;
    clear: both;
  }
  .opc-estimated-wrapper .estimated-block {
    float: left;
    font-size: 18px;
    font-weight: 400;
    color: #2a2a2a;
  }
  .opc-estimated-wrapper .estimated-block .estimated-label {
    display: block;
    margin: 0 0 5px;
  }
  .opc-estimated-wrapper .estimated-block .estimated-price {
    color: #56cfe1;
  }
  .opc-estimated-wrapper .minicart-wrapper {
    display: inline-block;
    float: right;
    position: relative;
    margin: 0;
  }
  .opc-estimated-wrapper .minicart-wrapper button.action.showcart {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
    box-sizing: content-box;
    font-weight: 400;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-shadow: none;
  }
  .opc-estimated-wrapper .minicart-wrapper button.action.showcart:before {
    font-size: 26px;
  }
  .opc-estimated-wrapper .minicart-wrapper button.action.showcart > .counter.qty {
    background-color: #56cfe1;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    margin: 13px 0 0;
    min-width: 30px;
    text-align: center;
    vertical-align: top;
    white-space: normal;
  }
  .table-checkout-shipping-method thead {
    display: none;
  }
  .table-checkout-shipping-method tbody tr td {
    padding: 14px 0 11px;
  }
  .table-checkout-shipping-method tbody tr td.col-method {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 767px) {
  #shipping-method-buttons-container .action,
  .payment-method-content .actions-toolbar .action,
  #shipping-method-buttons-container button.action,
  .payment-method-content .actions-toolbar button.action {
    width: 100%;
  }
}
@media (max-width: 767px) {
  #multiship-addresses-table thead {
    display: none;
  }
  #multiship-addresses-table tbody tr {
    display: block;
    padding: 15px;
    border: 1px solid #eaeaea;
  }
  #multiship-addresses-table tbody tr td {
    text-align: left !important;
    padding: 0 !important;
    display: block;
    border: none;
  }
  #multiship-addresses-table tbody tr td + td {
    margin-top: 15px;
  }
  #multiship-addresses-table tbody tr td .field .label {
    display: block !important;
  }
}
@media (max-width: 768px) {
  .multishipping-checkout-overview .table-order-review thead tr {
    display: block;
  }
  .multishipping-checkout-overview .table-order-review thead tr th {
    display: none;
  }
  .multishipping-checkout-overview .table-order-review thead tr th.col.item {
    display: block !important;
    padding-left: 0;
    padding-right: 0;
    border: none !important;
    text-align: left;
  }
  .multishipping-checkout-overview .table-order-review tbody tr,
  .multishipping-checkout-overview .table-order-review tfoot tr {
    border: 1px solid #f0f0f0;
    display: block;
    padding: 15px;
  }
  .multishipping-checkout-overview .table-order-review tbody tr td {
    display: block;
    padding: 0 !important;
    border: none !important;
    text-align: left;
  }
  .multishipping-checkout-overview .table-order-review tbody tr td:not(.item):before {
    display: inline-block;
    content: attr(data-th) ":";
    font-size: 13px;
    margin-right: 5px;
    color: #2a2a2a;
  }
  .multishipping-checkout-overview .table-order-review tbody tr td.qty {
    text-align: left;
  }
  .multishipping-checkout-overview .table-order-review tfoot tr td,
  .multishipping-checkout-overview .table-order-review tfoot tr th {
    display: block;
    padding: 0 !important;
    border: none !important;
    text-align: left;
  }
}
@media (max-width: 767px) {
  .lookbook_banner.parallax {
    background-attachment: inherit !important;
  }
  .lookbook_banner .big-title {
    font-size: 40px;
  }
  .cms-index-index section.padding-left30 {
    padding-left: 15px;
  }
  .cms-index-index section.padding-right30 {
    padding-right: 15px;
  }
}
@media (min-width: 1200px) {
  .instagram-section {
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media (min-width: 1200px) {
  .menu_vertical_fixed {
    margin-right: 270px;
  }
  .menu_vertical_fixed .header.header5 {
    width: 270px;
    right: 0;
    position: absolute;
    top: 0;
    display: block;
    overflow: visible;
    height: auto;
    background-color: #fff;
    z-index: 500;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    min-height: 100vh;
  }
  .menu_vertical_fixed .header.header5.fixed-bottom {
    bottom: 0;
    top: auto !important;
    position: fixed;
  }
  .menu_vertical_fixed .header.header5 .middle-header-content {
    padding-top: 59px;
    padding-bottom: 200px;
    position: relative;
    min-height: 100vh;
  }
  .menu_vertical_fixed .header.header5 .middle-header-content .bottom-header-custom-block {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  body.wide .menu_vertical_fixed .container {
    width: 100%;
  }
}
@media (min-width: 1200px) and (max-width: 1659px) {
  body.wide .menu_vertical_fixed.width1366 .container {
    width: 100%;
  }
}
@media (min-width: 1200px) and (max-width: 1469px) {
  body.wide .menu_vertical_fixed.width1024 .container {
    width: 100%;
  }
}
@media all and (max-width: 767px) {
  .YouTubePopUp-Content {
    max-width: 90%;
  }
}
@media all and (max-width: 600px) {
  .YouTubePopUp-Content iframe {
    height: 320px !important;
  }
}
@media all and (max-width: 480px) {
  .YouTubePopUp-Content iframe {
    height: 220px !important;
  }
}
@media all and (max-width: 600px) {
  .YouTubePopUp-Close {
    bottom: 362px;
  }
}
@media all and (max-width: 480px) {
  .YouTubePopUp-Close {
    bottom: 262px;
  }
}
@media (min-width: 768px) {
  .product.info.detailed.after-content .product-data-items-content .title-accordion {
    display: none;
  }
  .product.info.detailed.after-content .product-data-items-content .data.item.content {
    padding: 0;
    border: none;
  }
}
@media (max-width: 991px) {
  .product-info-main .product-add-form .actions.action-add-to,
  .bundle-info .product-details .actions.action-add-to {
    clear: left;
    float: none;
    margin-left: 0;
    padding: 10px 0 0;
  }
}
@media (max-width: 767px) {
  .product-data-items-menu {
    display: none !important;
  }
  .sticky-info-multiple-col .product-detail-infomation {
    padding-top: 30px;
  }
}
@media (min-width: 992px) {
  .product-detail-infomation.is_stuck .has-sticky-menu {
    padding-top: 70px;
  }
}
@media (max-width: 767px) {
  .product-detail-infomation {
    margin-top: 25px;
  }
  .product-detail-infomation.margin-top65 {
    margin-top: 65px;
  }
}
@media (min-width: 1200px) {
  .sticky-info-multiple-col > div:not(.col-lg-6) {
    width: 25% !important;
  }
  .use-header6.nav-open .close-nav-button,
  .use-header7.nav-open .close-nav-button {
    display: block;
    right: auto;
    left: 350px;
    top: 4px;
  }
}
@media (min-width: 1200px) {
  .header.header8 .navigation .nav-main-menu {
    margin: 0 !important;
  }
  .header.header8 .navigation .nav-main-menu > li > a {
    padding: 12px 18px;
  }
  .header.header8 .navigation .nav-main-menu > li > a .label-menu {
    top: 0px;
  }
  .header.header8 .navigation .nav-main-menu > li:first-child > a {
    padding-left: 15px;
  }
  .header.header8 .navigation .nav-main-menu li.mega-menu-fullwidth.menu-2columns > ul.dropdown-menu {
    min-width: 500px;
  }
  .header.header8 .bottom-header-content {
    position: relative;
  }
  .header.header8 .bottom-header-content .parent__megameu {
    padding: 0;
  }
}
@media (max-width: 1199px) {
  .header.header8 .vertical-menu-widget .vertical-menu {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
  }
}
@media (min-width: 992px) {
  .header.header8 .search-form .form-search {
    position: static;
    background: none;
    opacity: 1;
    visibility: visible;
  }
  .header.header8 .search-form .form-search .search-close {
    display: none;
  }
  .header.header8 .search-form .form-search .form.minisearch {
    margin: 27px 0;
    padding: 0;
    border: 1px solid #222;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -o-border-radius: 40px;
  }
  .header.header8 .search-form .form-search .form.minisearch .input-text {
    font-size: 14px;
    text-align: left;
    padding-left: 30px;
    color: #878787;
  }
  .header.header8 .search-form.select-search .form-search .form.minisearch .search-select .search-toggle {
    font-size: 14px;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
  }
  .header.header8 .search-form.select-search .form-search .form.minisearch .search-select .search-toggle:after {
    content: "";
    height: 24px;
    width: 1px;
    background-color: #878787;
    position: absolute;
    top: 9px;
    left: 0;
  }
  .header.header8 .table-icon-menu .search-form {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header.header8 .bottom-header-content .parent__megameu {
    float: left;
  }
  .header.header8 .bottom-header-block {
    text-align: left;
  }
}
@media (max-width: 991px) {
  .header.header8 .middle-header-content .parent__search {
    width: 0;
    padding: 0;
  }
  .header.header8 .top-header-content {
    padding-bottom: 14px;
  }
  .header.header8 .top-header-content .top-custom-link ul {
    text-align: center;
  }
  .header.header8 .top-header-content .top-custom-link ul li {
    float: none;
    display: inline-block;
    padding-bottom: 0;
  }
}
@media (max-width: 767px) {
  .header.header8 .bottom-header-content {
    position: relative;
  }
  .header.header8 .bottom-header-content .parent__megameu .nav-toggle {
    position: absolute;
    left: 15px;
    top: 0;
    z-index: 3;
    background-color: #56cfe1;
  }
}
@media (min-width: 992px) {
  .header.header8.active-sticky {
    position: static !important;
    box-shadow: none;
  }
  .header.header8.active-sticky .middle-header-content {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 997;
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  }
  .header.header8.active-sticky .middle-header-content .logo-header .logo {
    padding-top: 17px;
    padding-bottom: 0;
  }
  .header.header8.active-sticky .middle-header-content > .container {
    position: relative;
  }
  .header.header8.active-sticky .parent__search > .search-form {
    display: none;
  }
  .header.header8.active-sticky .table-icon-menu > div {
    padding: 19px 12px 16px 0;
  }
  .header.header8.active-sticky .navigation .nav-main-menu {
    margin: 0 auto !important;
  }
  .header.header8.active-sticky .navigation .nav-main-menu > li > a {
    padding: 19px 18px !important;
  }
}
@media (min-width: 1200px) {
  .header.header9 .nav.nav-main-menu > li > a {
    padding: 36px 18px 37px;
  }
  .header.header9 .navigation:after {
    content: "";
    display: table;
    clear: both;
  }
  .header.header9 .navigation .nav-main-menu {
    float: left;
    position: static !important;
  }
  .header.header9 .middle-header-content > .container {
    position: relative;
  }
  .header.header9 .parent__megameu {
    position: static;
  }
}
@media (max-width: 1199px) {
  .header.header9 .middle-header-content .logo-header .logo {
    padding-top: 17px;
    padding-bottom: 17px;
  }
}
@media (min-width: 992px) {
  .header.header9 .table-icon-menu > div.search-form {
    display: none;
  }
  .header.header9 .parent__search {
    display: table;
    width: 100%;
  }
  .header.header9 .parent__search > .search-form,
  .header.header9 .parent__search > .table-icon-menu {
    display: table-cell;
    vertical-align: middle;
  }
  .header.header9 .parent__search > .table-icon-menu {
    width: 1%;
  }
  .header.header9 .search-form .form-search {
    position: static;
    background: none;
    opacity: 1;
    visibility: visible;
  }
  .header.header9 .search-form .form-search .search-close {
    display: none;
  }
  .header.header9 .search-form .form-search .form.minisearch {
    margin: 6px auto;
    padding: 0;
    border: 1px solid #fff;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -o-border-radius: 40px;
    background-color: #fff;
  }
  .header.header9 .search-form .form-search .form.minisearch .input-text {
    font-size: 14px;
    text-align: left;
    padding-left: 30px;
    height: 36px;
    line-height: 36px;
    color: #878787;
  }
  .header.header9 .search-form.select-search .form-search .form.minisearch .search-select .search-toggle {
    height: 36px;
    font-size: 14px;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
  }
  .header.header9 .search-form.select-search .form-search .form.minisearch .search-select .search-toggle:after {
    content: "";
    height: 24px;
    width: 1px;
    background-color: #d9d9d9;
    position: absolute;
    top: 6px;
    left: 0;
  }
  .header.header9.active-sticky {
    position: static !important;
    box-shadow: none;
  }
  .header.header9.active-sticky .middle-header-content {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 997;
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  }
  .header.header9.active-sticky .middle-header-content .logo-header .logo {
    padding-top: 17px;
    padding-bottom: 0;
  }
  .header.header9.active-sticky .middle-header-content > .container {
    position: relative;
  }
  .header.header9.active-sticky .navigation .nav-main-menu > li > a {
    padding: 19px 18px !important;
  }
}
@media (max-width: 991px) {
  .header.header9 .table-icon-menu {
    position: absolute;
    top: -49px;
    left: 25px;
    z-index: 10;
  }
  .header.header9 .vertical-title {
    background: none;
    padding: 0;
  }
  .header.header9 .vertical-menu-widget .vertical-menu {
    display: none;
  }
  .header.header9 .top-header-content {
    padding-bottom: 14px;
  }
  .header.header9 .top-header-content .top-custom-link ul {
    text-align: center;
  }
  .header.header9 .top-header-content .top-custom-link ul li {
    float: none;
    display: inline-block;
    padding-bottom: 0;
  }
}
@media (max-width: 767px) {
  .popup__related {
    display: none !important;
  }
}
@media (max-width: 380px) {
  .success-ajax--popup .mfp-close {
    right: 0;
    top: -30px !important;
  }
}
@media (min-width: 1300px) {
  .service-boxed {
    margin-left: -45px;
    margin-right: -45px;
  }
}
@media (min-width: 1200px) {
  .service-boxed {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 1;
    position: relative;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .service-boxed .icon-service {
    width: 50%;
  }
  .service-boxed .icon-service.first-sm-item,
  .service-boxed .icon-service:last-child {
    padding-top: 0;
  }
}
@media (max-width: 767px) and (max-width: 992px) {
  .service-boxed .icon-service {
    width: 100%;
  }
  .service-boxed .icon-service + .icon-service {
    padding-top: 0;
  }
}
@media (min-width: 1200px) {
  .header.header10 .dropdown-switcher {
    float: right;
    margin-right: 0;
    margin-left: 30px;
    position: relative;
  }
  .header.header10 .dropdown-switcher .dropdown-menu {
    display: block !important;
    opacity: 0;
    right: 0;
    left: auto;
    visibility: hidden;
  }
  .header.header10 .dropdown-switcher:hover .dropdown-menu {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  .header.header10 .dropdown-switcher .switcher-toggle {
    padding: 37px 0 39px;
    color: #fff;
  }
  .header.header10.active-sticky .dropdown-switcher .switcher-toggle {
    padding: 19px 0;
  }
  .header.header10:not(.active-sticky) .table-icon-menu > div {
    padding: 39px 12px 34px 0px;
  }
  .header.header10:not(.active-sticky) .nav.nav-main-menu > li > a {
    padding: 38px 24px;
  }
  .header.header10 #mainMenu .level0 a.level0 {
    color: #fff;
  }
  .header.header10 #mainMenu .level0:hover a.level0 {
    color: #56cfe1;
  }
}
@media (min-width: 992px) {
  .cms-index-index .header.header10:not(.active-sticky):not(.header-builder) {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    background: transparent;
    border-color: rgba(255, 255, 255, 0.4);
  }
}
@media (max-width: 767px) {
  .slider_item .text-slider h2 {
    font-size: 30px;
    line-height: 1;
  }
}
.header .no-menu-settings .settings-menu-tab,
.header .no-menu-settings #main-Settingcontent {
  display: none !important;
}
.header.header6 .megamenu-content.no-menu-settings .nav-tabs > li,
.header.header7 .megamenu-content.no-menu-settings .nav-tabs > li {
  width: calc(100% / 2);
}
@media (max-width: 1199px) {
  .header:not(.header6):not(.header7) .megamenu-content.no-menu-settings .nav-tabs > li {
    width: calc(100% / 2);
  }
}
@media (min-width: 1200px) {
  .testimonial-list-block.boxed_content .testimonial-content.has-image .content {
    padding-left: 140px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .testimonial-list-block.boxed_content {
    padding: 60px 50px;
  }
}
@media (max-width: 767px) {
  .testimonial-list-block.boxed_content {
    padding: 30px 40px;
  }
}
@media (max-width: 767px) {
  .testimonial-list-block .testimonial-content .content blockquote:before {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .testimonial-list-block .testimonial-content .author-thumbnail {
    float: none;
    margin: 0 auto 40px;
  }
  .testimonial-list-block .testimonial-content.has-image .content {
    padding-left: 0;
    float: none;
    text-align: center;
    width: 100%;
  }
}
/* DEV_LUUNV */
@media (min-width: 992px) {
  .title-instagram .instagram-block {
    position: relative;
  }
  .title-instagram .instagram-block .content-heading {
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: rgba(246, 246, 248, 0.8);
    padding: 25px 100px;
    z-index: 2;
  }
  .title-instagram .instagram-block .content-heading .name {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .slider_comestics.owl-carousel .owl-stage {
    padding-left: 16.65%;
    padding-right: 16.65%;
  }
  .slider_comestics.owl-carousel .owl-nav > div.owl-next,
  .slider_comestics.owl-carousel .owl-nav > div.owl-prev {
    top: 0;
    bottom: 0;
    width: 16.65%;
    height: auto;
    background: none;
    display: block;
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
  }
  .slider_comestics.owl-carousel .owl-nav > div.owl-next {
    right: 0;
    left: auto;
  }
  .slider_comestics.owl-carousel .owl-nav > div.owl-next i {
    right: 40px;
  }
  .slider_comestics.owl-carousel .owl-nav > div.owl-prev {
    left: 0;
    right: auto;
  }
  .slider_comestics.owl-carousel .owl-nav > div.owl-prev i {
    left: 40px;
  }
  .slider_comestics.owl-carousel .owl-nav > div i {
    display: block;
    width: 38px;
    height: 38px;
    position: absolute;
    top: 50%;
    color: #c2c2c2;
    border: 2px solid #c2c2c2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .slider_comestics.owl-carousel .owl-nav > div:hover i {
    background-color: #56cfe1;
    border-color: #56cfe1;
    color: #fff;
  }
  .slider_comestics.owl-carousel .owl-item:last-child {
    display: none !important;
  }
}
@media (max-width: 1199px) {
  .slider_comestic.owl-carousel .owl-nav > div {
    color: #c2c2c2;
    border: 2px solid #c2c2c2;
  }
  .cosmestics-banner {
    padding: 0;
  }
  .cosmestics-banner h3 {
    font-size: 20px !important;
    line-height: 25px !important;
  }
  .cosmestics-banner h4 {
    font-size: 30px !important;
    line-height: 35px !important;
  }
  .rorate .banner-text > div {
    margin-right: -100px;
    padding-left: 0px;
  }
}
@media (max-width: 991px) {
  .sm-ceter {
    float: none;
    margin: 0 auto;
  }
  .sm-padding30 {
    padding-left: 30px;
    padding-right: 30px;
  }
  .sm-padding15 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .slider_comestics h2 {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 15px;
  }
  .slider_comestics .slider-item .bottom h2 {
    line-height: 25px;
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .cosmestics-banner {
    padding: 0;
  }
  .cosmestics-banner h3 {
    font-size: 15px !important;
    line-height: 20px !important;
  }
  .cosmestics-banner h4 {
    font-size: 20px !important;
    line-height: 30px !important;
  }
  .rorate .banner-text .cosmestics-banner {
    margin-right: -150px;
    padding-left: 60px;
  }
}
@media (max-width: 500px) {
  .col-xxs-12 {
    width: 100%;
  }
}
@media (max-width: 479px) {
  .simple-product .products-grid .product-item {
    width: 100%;
  }
  .slider_comestics .slider-item:hover:before {
    background-color: rgba(0, 0, 0, 0);
  }
  .slider_comestics .slider-item .text-slider {
    top: 50%;
    visibility: visible;
    opacity: 1;
    width: 100%;
  }
  .slider_comestics .slider-item .bottom {
    bottom: -100px;
  }
  .slider_comestics h2 {
    font-size: 25px;
    margin-bottom: 10px;
    line-height: 25px;
  }
  .slider_comestics a {
    padding: 0 12px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .deal-timer {
    padding: 0 3px;
  }
  .deal-timer .time-note,
  .deal-timer .countdown {
    margin-left: 0px;
    margin-right: 0px;
  }
}
/***/
/* Fix video banner */
@media (max-width: 767px) {
  .video-banner #video-background:not(.loaded) {
    display: none !important;
  }
  .video-banner #video-background:not(.loaded) + .text {
    z-index: 1;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
