.megamenu-content {
  flex-basis: auto;
  flex-shrink: 0;
  margin-bottom: 25px;
  background-color: #f0f0f0;
}
.nav-main-menu {
  line-height: 1.5;
  letter-spacing: 0.0525em;
  position: relative;
}
.nav-main-menu:after {
  content: '';
  display: table;
  clear: both;
}
.nav-main-menu .static-content.bottom_content {
  margin-top: 30px;
}
.nav-main-menu .static-content.top_content {
  margin-bottom: 30px;
}
.nav-main-menu .static-content.right_content {
  text-align: right;
}
.nav-main-menu > li > a {
  display: block;
  color: #575757;
  font-size: 15px;
  font-weight: 600;
}
.nav-main-menu > li > a .label-menu {
  background-color: #00aeff;
  border-radius: 3px;
  color: #fff;
  font-size: 9px;
  font-weight: 500;
  letter-spacing: 0.035em;
  padding: 2px 5px 0px;
  text-transform: uppercase;
  line-height: 1;
  vertical-align: top;
}
.nav-main-menu > li > a .label-menu.hot {
  background-color: #ed4e24;
}
.nav-main-menu > li > a .label-menu.hot {
  background-color: #ff0000;
}
.nav-main-menu ul > li {
  border-bottom: 1px solid #e2e2e2;
}
.nav-main-menu ul > li:last-child {
  border-bottom: none;
}
.menu-banner {
  position: relative;
}
@media (max-width: 1199px) {
  .menu-banner {
    padding: 10px 15px;
  }
}
.menu-banner:after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  position: absolute;
  visibility: hidden;
}
.menu-banner:hover:after {
  opacity: 1;
  visibility: visible;
}
.menu-banner a + a {
  position: absolute;
  white-space: nowrap;
  font-weight: 600;
  font-size: 24px;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  z-index: 1;
}
@media (max-width: 1199px) {
  #main-Menucontent .navigation > .container {
    width: 100%;
    padding: 0 !important;
  }
  .nav-main-menu .dropdown-menu {
    padding: 0;
    margin: 0;
    position: static;
    float: none;
    background: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
  }
  .nav-main-menu a .icon-next {
    display: none !important;
  }
  .nav-main-menu li {
    position: relative;
    float: none !important;
  }
  .nav-main-menu li > a {
    padding-right: 40px;
    border-bottom: 1px solid #ddd;
    display: block;
    padding: 10px 15px !important;
    color: #575757;
    font-size: 16px;
  }
  .nav-main-menu li > a + .toggle-menu {
    width: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    line-height: 40px;
    top: 0;
  }
  .nav-main-menu li > a + .toggle-menu a {
    color: #575757;
  }
  .nav-main-menu li > a + .toggle-menu a.active .fa:before {
    content: "\f068";
  }
  .nav-main-menu li > ul {
    padding-left: 10px !important;
  }
  .nav-main-menu [class*="col-"] {
    padding: 0;
    float: none;
    width: 100%;
  }
  .nav-main-menu .row {
    margin: 0;
  }
  .mega-menu-content .static-content {
    padding: 10px 15px !important;
    border-bottom: 1px solid #ddd;
    margin: 0 !important;
  }
}
@media (min-width: 1200px) {
  .nav-main-menu li {
    position: relative;
  }
  .nav-main-menu li > a + .toggle-menu {
    display: none !important;
  }
  .nav-main-menu li > .dropdown-menu {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 100%;
    visibility: hidden;
    z-index: 900;
    display: block;
    padding: 0;
    border-radius: 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #e2e2e2;
    background-color: #fff;
    min-width: 200px;
    margin: 0;
  }
  .nav-main-menu li:hover > ul.dropdown-menu {
    opacity: 1;
    visibility: visible;
  }
  .nav-main-menu li li > a {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    padding: 12px 20px 10px;
    font-weight: 600;
    color: #666;
    margin: 0 -1px;
  }
  .nav-main-menu li li:hover > a {
    background-color: #F0F0F0;
    color: #333;
  }
  .nav-main-menu li li > ul.dropdown-menu {
    left: 100%;
    top: 0;
  }
  .nav-main-menu li li > ul li > ul {
    top: -1px;
    left: 100%;
  }
  .nav-main-menu li.mega-menu-fullwidth {
    position: static !important;
  }
  .nav-main-menu li.mega-menu-fullwidth > ul.dropdown-menu {
    left: 0;
    right: 0;
    background-color: #f9f9f9;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding: 25px;
  }
  .nav-main-menu li.mega-menu-fullwidth > ul.dropdown-menu .mega-menu-sub-title {
    font-size: 15px;
    font-weight: 600;
    color: #777777;
    margin-bottom: 12px;
    text-transform: uppercase;
    letter-spacing: 0.045em;
    display: block;
  }
  .nav-main-menu li.mega-menu-fullwidth > ul.dropdown-menu ul {
    position: static;
    left: auto;
    right: auto;
    top: auto;
    border: none;
    box-shadow: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1;
    visibility: inherit;
    background-color: transparent;
    text-transform: none;
  }
  .nav-main-menu li.mega-menu-fullwidth > ul.dropdown-menu ul li {
    border: none;
    margin-bottom: 4px;
  }
  .nav-main-menu li.mega-menu-fullwidth > ul.dropdown-menu ul li a {
    background-color: transparent;
    color: #777777;
    padding: 5px 0;
    font-weight: 400;
    font-size: 14px;
  }
  .nav-main-menu li.mega-menu-fullwidth > ul.dropdown-menu ul li a > span {
    position: relative;
  }
  .nav-main-menu li.mega-menu-fullwidth > ul.dropdown-menu ul li:hover > a {
    color: #00aeff;
    background-color: transparent;
  }
  .nav-main-menu li.mega-menu-fullwidth.menu-2columns {
    position: relative !important;
  }
  .nav-main-menu li.mega-menu-fullwidth.menu-2columns > ul.dropdown-menu {
    left: 0;
    right: auto;
  }
  .nav-main-menu li.mega-menu-fullwidth.menu-2columns.hover-right {
    position: static !important;
  }
  .nav-main-menu li.mega-menu-fullwidth.menu-2columns.hover-right > ul.dropdown-menu {
    right: 0;
    left: auto;
    min-width: 50%;
  }
  .nav-main-menu > li {
    float: left;
  }
  .nav-main-menu > li + li {
    margin-left: 10px;
  }
  .nav-main-menu > li:first-child > a {
    padding-left: 0;
  }
  .nav-main-menu > li.pull-right > a {
    padding-right: 0;
  }
  .nav-main-menu > li:hover > a {
    color: #333;
  }
  .nav-main-menu > li.hover-right > ul.dropdown-menu {
    right: 0 !important;
    left: auto !important;
  }
  .nav-main-menu > li.hover-right > ul.dropdown-menu ul.dropdown-menu {
    right: 100% !important;
    left: auto !important;
  }
}
