.promobanner {
  position: relative;
  overflow: hidden;
}
.promobanner > a > img {
  min-width: 100%;
}
.promobanner .text {
  position: absolute;
  padding: 20px;
  z-index: 1;
  color: #1a1a1a;
  font-size: 15px;
}
.promobanner .text.top-left,
.promobanner .text.top-middle,
.promobanner .text.top-right {
  top: 0;
  left: 0;
  right: 0;
}
.promobanner .text.top-left {
  text-align: left;
}
.promobanner .text.top-middle {
  text-align: center;
}
.promobanner .text.top-right {
  text-align: right;
}
.promobanner .text.middle-left,
.promobanner .text.middle-center,
.promobanner .text.middle-right {
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.promobanner .text.middle-left {
  text-align: left;
}
.promobanner .text.middle-center {
  text-align: center;
}
.promobanner .text.middle-right {
  text-align: right;
}
.promobanner .text.bottom-left,
.promobanner .text.bottom-center,
.promobanner .text.bottom-right {
  bottom: 0;
  left: 0;
  right: 0;
}
.promobanner .text.bottom-left {
  text-align: left;
}
.promobanner .text.bottom-center {
  text-align: center;
}
.promobanner .text.bottom-right {
  text-align: right;
}
.promobanner.zoom img {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
}
.promobanner.zoom:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.promobanner.border-zoom:before {
  border: 2px solid #fff;
  top: -2px;
  bottom: -2px;
  right: -2px;
  left: -2px;
  content: '';
  display: block;
  position: absolute;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
}
.promobanner.border-zoom img {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
}
.promobanner.border-zoom:hover:before {
  top: 15px;
  bottom: 15px;
  right: 15px;
  left: 15px;
  z-index: 9;
}
.promobanner.border-zoom:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.promobanner.flashed:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: 200px;
  background: rgba(255, 255, 255, 0.5);
  content: '';
  transition: transform 0.6s;
  -webkit-transition: transform 0.6s;
  -moz-transition: transform 0.6s;
  -o-transition: transform 0.6s;
  transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
  -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
  -moz-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
  -o-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}
.promobanner.flashed:hover:after {
  transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,300%,0);
  -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,300%,0);
  -moz-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,300%,0);
  -o-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,300%,0);
}
.promobanner.zoom-flashed:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: 200px;
  background: rgba(255, 255, 255, 0.5);
  content: '';
  transition: transform 0.7s;
  -webkit-transition: transform 0.7s;
  -moz-transition: transform 0.7s;
  -o-transition: transform 0.7s;
  transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
  -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
  -moz-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
  -o-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}
.promobanner.zoom-flashed img {
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.promobanner.zoom-flashed:hover:after {
  transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,300%,0);
  -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,300%,0);
  -moz-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,300%,0);
  -o-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,300%,0);
}
.promobanner.zoom-flashed:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.promobanner.shadow-corner {
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
}
.promobanner.shadow-corner:hover {
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
}
.promobanner.zoom-shadow:after {
  position: absolute;
  content: "";
  left: 20px;
  right: 20px;
  bottom: 20px;
  top: 20px;
  background: #000000;
  opacity: 0.4;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}
.promobanner.zoom-shadow:hover:after {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.promobanner.cup-border {
  overflow: visible;
}
.promobanner.cup-border a:after {
  border: 2px solid #ddbe86;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  content: "";
  opacity: 0;
  transform: translate(0);
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -o-transform: translate(0);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.promobanner.cup-border:hover a:after {
  opacity: 1;
  transform: translate(15px, 15px);
  -webkit-transform: translate(15px, 15px);
  -moz-transform: translate(15px, 15px);
  -o-transform: translate(15px, 15px);
}
.promobanner.flashed-zoom a:after {
  position: absolute;
  content: "";
  width: 100%;
  padding-top: 100%;
  top: 50%;
  left: 50%;
  opacity: 1;
  background: #fff;
  transform: translate(-50%,-50%) rotate(45deg) scale(0);
  -webkit-transform: translate(-50%,-50%) rotate(45deg) scale(0);
  -moz-transform: translate(-50%,-50%) rotate(45deg) scale(0);
  -o-transform: translate(-50%,-50%) rotate(45deg) scale(0);
  transition: all 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
}
.promobanner.flashed-zoom a > img {
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
}
.promobanner.flashed-zoom:hover a > img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.promobanner.flashed-zoom:hover a:after {
  opacity: 0;
  transform: translate(-50%,-50%) rotate(45deg) scale(1);
  -webkit-transform: translate(-50%,-50%) rotate(45deg) scale(1);
  -moz-transform: translate(-50%,-50%) rotate(45deg) scale(1);
  -o-transform: translate(-50%,-50%) rotate(45deg) scale(1);
}
.promobanner.zoom-out-shadow a:after {
  position: absolute;
  content: "";
  left: -10px;
  right: -10px;
  bottom: -10px;
  top: -10px;
  border: 2px solid #fff;
  outline-width: 15px;
  outline-style: solid;
  outline-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
.promobanner.zoom-out-shadow:hover a:after {
  left: 15px;
  right: 15px;
  bottom: 15px;
  top: 15px;
}
.promobanner.mist a:after {
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
.promobanner.mist:hover a:after {
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  opacity: 1;
  visibility: visible;
}
.promobanner.mist-text a:after {
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
.promobanner.mist-text:hover a:after {
  opacity: 1;
  visibility: visible;
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
}
